/* .fc-day-today {
    background: rgb(110, 233, 86);
}
.fc .fc-timegrid-col .fc-day-today {
    background: rgb(110, 233, 86);
} */
/* .fc-theme-standard th {
    padding: 5px !important;
} */
.fc .fc-scrollgrid table tbody tr:nth-child(1) {
}
.fc .fc-scrollgrid-section-body table tbody tr:nth-child(1){
    border-bottom-style: hidden;
    border: 0px;
}
.fc .fc-scrollgrid-section-body table thead tr th{
    border-bottom-style: hidden;
    border: 0px;
}
.fc .fc-scrollgrid-section table {
    height: 1px;
}
.fc-theme-standard .fc-scrollgrid {
    border: none;
}

tr td:first-child{
    border:none !important;
}
tr th:first-child{
    border: none !important;
}
.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: none;
}
.dialogbox {
  border: none;
  outline: none;
  font-weight: 900;
  background-color: #78b33e;
  border-left: 8px solid #017901;
  padding: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
